body {


  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

// #add-item {
//   animation-duration: 2s;
//   animation-name: slidein;
//   // right: 5px;
//   left:165px;
//   top: 0px;
//   z-index: -2;
//   width:1345px;
//   // border-radius : 40%;
//   // transition: left ease-in-out 0.5s;
// }

// @keyframes slidein {
//   from {
//     margin-left: 100%;
//   }
//   to {
//     margin-left:0%;
//   }
// }

// #add-item-cover {
//   position: absolute;
//   right: 0px;
//   top: 114px;
//   z-index: 0;
//   width:4%;
//   height:3rem;
//   background-color: lightblue;
//   border-radius: 4%;
// }

#add-todo-button:hover  {
  color:magenta;
  }
